@external hovering, gwt-TextBox, selected, operatorButton, dateBox, columnTextFilter, columnDateFilter, textBox, numberBox, columnNumberFilter;

/**
 * ScrollTable
 */
.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .dataWrapper {
}

.gwt-ScrollTable .headerWrapper {
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  color: #fff;
}
	
.gwt-ScrollTable .dataTable tr.hovering {
  background: #C3D9FF;
}

.gwt-ScrollTable .dataTable td.hovering {
  background: #FFFFAA;
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.selected {
  background: #7AA5D6;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td,
.gwt-ScrollTable .dataTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
}

.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.gwt-ScrollTable .headerWrapper {
  background: #e3e8f3 url(images/bg_headergradient.png) repeat-x;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #8bd url(images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  font-weight: bold;
  color: #666666;
  vertical-align: middle;
  border-width: 0px 1px 1px 0px;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
}

.gwt-ScrollTable .dataTable tr.hovering {
  background: #C3D9FF;
}

.gwt-ScrollTable .dataTable tr.selected {
  background: #7AA5D6;
}

.gwt-ScrollTable .columnTextFilter, .gwt-ScrollTable .columnNumberFilter, .gwt-ScrollTable .columnDateFilter {
    border: 0px;
	padding: 0px;
}

.gwt-ScrollTable .columnTextFilter td, .gwt-ScrollTable .columnNumberFilter td, .gwt-ScrollTable .columnDateFilter td {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.gwt-ScrollTable .columnTextFilter .operatorButton, .gwt-ScrollTable .columnNumberFilter .operatorButton, .gwt-ScrollTable .columnDateFilter .operatorButton {
	color: #888888;
	padding: 1px;
	width: 40px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.gwt-ScrollTable .columnNumberFilter .operatorButton, .gwt-ScrollTable .columnDateFilter .operatorButton {
	width: 30px;
}

.gwt-ScrollTable .columnNumberFilter .numberBox,
.gwt-ScrollTable .columnNumberFilter .textBox,
.gwt-ScrollTable .columnDateFilter .dateBox .gwt-TextBox {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	border: 1px solid #888888;
}