body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #333333;
	direction: ltr;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	text-align: left;
	unicode-bidi: embed;
}

#blueBar {
	background-color: #3B5998;
	height: 41px;
	left: 0;
	position: absolute;
	width: 100%;
}

#pageFooter {
	color: #737373;
	font-size: 11px;
	margin: 0 auto;
	width: 980px;
}

#contentCurve {
	background-color: #FFFFFF;
	border-bottom: 1px solid #B3B3B3;
	font-size: 1px;
	height: 8px;
}

#footerContainer {
	border-top: 1px solid #EEEEEE;
	margin-bottom: 30px;
	padding: 8px;
	position: relative;
}

.clearfix {
	display: block;
}

.lfloat {
	float: left;
}

.uiTextTitle,.uiTextSubtitle {
	line-height: 14px;
}

.uiTextSubtitle {
	color: #808080;
	font-size: 11px;
}

.rfloat {
	float: right;
}

#pageFooter a:last-child {
	margin-right: 0;
}

#pageFooter a {
	text-decoration: none;
	white-space: nowrap;
}

a {
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
}

#pageHead {
	height: 41px;
	margin: 0 auto;
	position: relative;
	width: 980px;
	z-index: 15;
}

h1 {
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
	color: #333333;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#pageLogo a {
	background: url("../images/fb.png") no-repeat scroll -21px 0 #3B5998;
	display: block;
	height: 31px;
	left: -6px;
	position: absolute;
	top: 10px;
	width: 103px;
}

#jewelCase {
	bottom: 0;
	left: 97px;
	position: absolute;
	width: 84px;
}

#jewelCase .jewel {
	border-color: #3B5998 #3B5998 -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	float: left;
	height: 31px;
	margin: 13px -1px 0 0;
	position: relative;
	width: 24px;
}

#jewelRequest {
	background-position: -24px -105px;
}

.jewelToggler {
	background: url("../images/fb.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 31px;
	position: absolute;
	text-decoration: none;
	width: 24px;
}

#jewelMail {
	background-position: -24px -73px;
}

#jewelAlert {
	background-position: -24px -137px;
}

#headNavOut {
	background-color: #627AAD;
	border-color: #1D4088 #1D4088 -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	font-size: 11px;
	height: 30px;
	margin-left: 180px;
	padding-left: 10px;
	padding-right: 6px;
	position: relative;
	top: 10px;
}

#navSearch {
	left: 4px;
	position: absolute;
	top: 4px;
	width: 300px;
}

form {
	margin: 0;
	padding: 0;
}

#navSearch .uiTypeahead,#navSearch .uiTypeahead .wrap {
	border-color: #3B5998;
}

.uiTypeahead {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #BDC7D8;
	border-style: solid;
	border-width: 1px 0;
	cursor: default;
	position: relative;
}

#navSearch .uiSearchInput {
	border: 0 none;
}

.uiTypeahead .textInput {
	border: 0 none;
	outline: 0 none;
	width: 100%;
}

.uiSearchInput {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BDC7D8;
	display: inline-block;
	position: relative;
}

#navSearch .inputtext {
	width: 271px;
}

.uiSearchInput input {
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 1px solid #E5E5E5 !important;
	border-top: 0 none;
	margin: 2px 20px 2px 0;
	outline: medium none;
	padding: 1px 3px !important;
	width: 196px;
}

.inputtext,.inputpassword {
	margin: 0;
	padding-bottom: 4px;
}

textarea,.inputtext,.inputpassword {
	border: 1px solid #BDC7D8;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	padding: 3px;
}

.DOMControl_placeholder {
	color: #777777;
}

.uiSearchInput button {
	background: url("../images/fb.png") no-repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: right;
	height: 19px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	z-index: 2;
}

#pageNav {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#pageNav li {
	float: left;
}

#pageNav a {
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	height: 22px;
	padding: 8px 10px 0;
	text-decoration: none;
}

#navAccount #navAccountLink {
	padding-right: 16px;
}

#navAccountLink img {
	background: url("../images/fb.png") no-repeat scroll -137px 0
		transparent;
	height: 4px;
	left: 5px;
	position: relative;
	top: -2px;
	width: 7px;
}

img {
	border: 0 none;
}

.profile #content,.home #content,.search #content {
	min-height: 600px;
}

#content {
	margin: 0;
	padding: 0;
	width: auto;
}

.fb_content {
	padding-bottom: 20px;
}

.clearfix {
	display: block;
}

.profile .profile_top_wash {
	background: url("images/top.gif") repeat-x scroll
		left bottom #EDEFF4;
}

.profile .profile_color_bar {
	padding-top: 22px;
}

.profile .left_column {
	display: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
}

.profile .left_column_container {
	height: 0;
	margin: auto;
	overflow: visible !important;
	padding-right: 180px;
	width: 760px;
}

.profile_two_columns .left_column {
	display: block;
	margin-bottom: 20px;
	position: relative;
}

.profile .profileimage {
	min-height: 50px;
	text-align: center;
}

.profile_two_columns #profile_top_bar {
	padding: 0 0 0 220px;
}

#profile_top_bar {
	margin: auto;
	padding: 0 160px 0 60px;
	width: 720px;
}

.profile .profile_top_bar_container {
	overflow: hidden;
}

.profile .info_tab h3 span {
	background: none repeat scroll 0 0 white;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 18px;
	padding-right: 6px;
	position: relative;
	z-index: 2;
}

.profile .top_bar h1 {
	display: inline;
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}

.profile .tabs_wrapper {
	margin: 0;
	padding: 10px 0 0;
}

.profile .top_bar ul.tabs {
	border-bottom: 0 none;
	border-right: 0 none;
	width: 100%;
}

.profile .top_bar ul.tabs li {
	background-color: #D8DFEA;
	float: left;
	margin: 0 2px 0 0;
	overflow: hidden;
	position: relative;
}

.profile .top_bar ul.tabs li a.tab_link {
	border-color: #D8DFEA #D8DFEA -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 11px;
	white-space: nowrap;
}

.profile .top_bar ul.tabs li.selected {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: -2px;
	margin-top: -2px;
}

.profile .profile_bottom_container {
	min-height: 100px;
}

.profile .right_column_container {
	margin: auto;
	padding: 0;
	width: 740px;
}

.profile_two_columns .right_column {
	float: right;
	margin-bottom: 20px;
	width: 540px;
}

.profile .info_tab {
	margin-top: 0;
	padding: 15px 0 20px;
}

.profile .info_tab .info_section {
	clear: both;
	overflow: hidden;
	padding-bottom: 10px;
}

.profile .info_tab .section_header {
	margin: 0 0 7px;
}

.profile .info_tab h3 {
	padding: 2px 0;
}

.profile .info_tab .info_section .profile_info_container {
	position: relative;
}

.profile .info_tab .info_section .profile_info_container .info {
	display: block;
	padding: 0 20px 0 0;
}

.profile .info_tab h3 .divider {
	border-bottom: 1px solid #D8DFEA;
	margin: -4px 0 0;
	z-index: 0;
}

.profile dl.info {
	margin: 0;
}

.profile .info_tab .info_section .profile_info dl.info dt {
	width: 119px;
}

.profile dl.info dt {
	clear: left;
	float: left;
}

.profile dl.info dt,.profile dl.info dd {
	padding: 1px 0 3px;
}

dt {
	color: #777777;
}

.profile .info_tab .info_section .profile_info dl.info dd {
	width: 340px;
}

.profile dl.info dd {
	float: left;
	margin: 0;
	padding-left: 10px;
}

.profile dl.info dt,.profile dl.info dd {
	padding: 1px 0 3px;
}

dd {
	color: #000000;
}