@external hovering, gwt-TextBox, selected, operatorButton, dateBox, columnTextFilter, columnDateFilter, textBox, numberBox, columnNumberFilter;

.gwt-TreeTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.gwt-TreeTable .dataTable td,
.gwt-TreeTable .headerTable td,
.gwt-TreeTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  padding: 3px;
  overflow: hidden;
}

.gwt-TreeTable .headerTable td, 
.gwt-TreeTable .footerTable td {
  overflow: hidden;
  font-weight: bold;
  color: #666666;
  vertical-align: middle;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
  white-space: nowrap;
}

@sprite .gwt-TreeTable .headerWrapper {
  gwt-image: "headerBackground";
  background-color: #e3e8f3;
}

.gwt-TreeTable .dataWrapper {
}

@sprite .gwt-TreeTable .footerWrapper {
  gwt-image: "headerBackground";
  border-top: 1px solid #aaa;
  background-color: #8bd;
}

.gwt-TreeTable .dataTable tr.hovering {
  background: #C3D9FF;
}

.gwt-TreeTable .dataTable tr.selected {
  background: #7AA5D6;
}

.gwt-TreeTable .columnTextFilter, .gwt-TreeTable .columnNumberFilter, .columnDateFilter {
    border: 0px;
	padding: 0px;
}

.gwt-TreeTable .columnTextFilter td, .gwt-TreeTable .columnNumberFilter td, .gwt-TreeTable .columnDateFilter td {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.gwt-TreeTable .columnTextFilter .operatorButton, .gwt-TreeTable .columnNumberFilter .operatorButton, .gwt-TreeTable .columnDateFilter .operatorButton {
	color: #888888;
	padding: 1px;
	width: 40px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.gwt-TreeTable .columnNumberFilter .operatorButton, .gwt-TreeTable .columnDateFilter .operatorButton {
	width: 30px;
}

.gwt-TreeTable .columnNumberFilter .numberBox,
.gwt-TreeTable .columnTextFilter .textBox,
.gwt-TreeTable .columnDateFilter .dateBox .gwt-TextBox {
	margin: 0px;
	border: 0px;
	padding: 0px;
	border: 1px solid #888888;
	width: 100%;
	font-size: 13px;
}

.gwt-TreeTable .treeNodeWrapper {
}

.gwt-TreeTable .treeNodeWrapper td {
	border: 0px;
	padding: 0px;
}

@sprite .gwt-TreeTable .treeTableIndent {
	gwt-image: "treeIndent";
}

@sprite .gwt-TreeTable .treeTableIndentUp {
	gwt-image: "treeIndentUp";
}

@sprite .gwt-TreeTable .treeTableOpenNode {
	gwt-image: "treeOpen";
	margin-left: 2px;
	margin-right: 2px;
}

@sprite .gwt-TreeTable .treeTableClosedNode {
	gwt-image: "treeClosed";
	margin-left: 2px;
	margin-right: 2px;
}