@sprite .gwt-TreeTableController {
  gwt-image: "pagingBackground";
  background-color: #e3e8f3;
}

.gwt-TreeTableController .gwt-PushButton {
	padding: 3px;
	border: 0px;
}

.gwt-TreeTableController .gwt-PushButton-up,.gwt-TreeTableController .gwt-PushButton-down,.gwt-TreeTableController .gwt-PushButton-up-hovering,.gwt-TreeTableController .gwt-PushButton-down-hovering,.gwt-TreeTableController .gwt-PushButton-up-disabled {
	background: url("buttonDefault.png");
}

.gwt-TreeTableController .gwt-PushButton-down,.gwt-TreeTableController .gwt-PushButton-down-hovering {
	background: url("buttonPressed.png");
}

.gwt-TreeTableController .gwt-PushButton-up-hovering {
	background: url("buttonHover.png");
}

.currentPageBox {
	border: 1px solid #e3e8f3;
	height: 22px;
	width: 3em;
	text-align: center;
}

.errorMessage {
	color: red;
}
