<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
         <java6processors enableDefault="true">
         	<java6processor class="sk.seges.corpis.core.pap.transfer.TransferObjectProcessor"/>
         </java6processors>
   </extension>

</plugin>
