.acris-cmp-toggle-button {
	/* tmp. until themed ToggleButton looks like it must. */
	padding: 4px 4px 4px 4px;
}

.acris-icon-button-style {
	vertical-align: middle;
	margin-right: 10px;
}

.acris-cmp-cleaner {
	display: block;
	clear: both;
}

.acris-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/********** Dialog  ************/
.acris-cmp-dialog {
	z-index: 20000;
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper {
	padding: 16px 16px 0;
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper .acris-cmp-options {
	padding: 20px 0 0;
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper .acris-cmp-content {
	
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper .acris-cmp-options .acris-cmp-option,.acris-cmp-container .acris-cmp-options .acris-cmp-option
	{
	float: right;
	margin-left: 1px;
}

.acris-cmp-container .acris-cmp-options .acris-cmp-option {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.acris-cmp-options .acris-cmp-option-separator {
	width: 25px;
	height: 1px;
}

/************* OPTION PANE *************/
.acris-cmp-optionPane {
	padding: 10px;
}

.acris-cmp-optionPane .acris-cmp-message {
	float: left;
}

.acris-cmp-optionPane .acris-cmp-input {
	float: left;
	margin-top: 10px;
}

.acris-cmp-optionPane .acris-cmp-icon {
	float: left;
	margin-right: 10px;
}

/************* ERROR OPTION PANE *************/
.acris-cmp-errorPane {
	
}

.acris-cmp-errorPane .acris-cmp-errorStack {
	
}

.acris-cmp-errorPane .acris-cmp-errorStack .acris-cmp-error {
	
}

/************* COMBOBOX *********************/
/** button styles */
.advanced-TextButtonPanel .choice-button-up {
	border: none;
	padding: 0;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-up-hovering {
	border: none;
	padding: 0;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-down {
	border: none;
	padding: 0;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-down-hovering {
	border: none;
	padding: 0;
}

.advanced-LockingPanel {
	background-color: white;
	filter: alpha(opacity = 65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}

.advanced-TextButtonPanel {
	border: 1px;
	padding: 0;
}

.advanced-TextButtonPanel table {
	border: 0;
	padding: 0;
	border-collapse: collapse;
}

.advanced-TextButtonPanel td {
	border: 1px solid black;
	padding: 0;
	vertical-align: middle;
}

.advanced-TextButtonPanel .selected-value {
	border: none;
	color: black;
}

.advanced-TextButtonPanel .selected-row > div {
	background-color: lightgoldenrodyellow;
}

.advanced-TextButtonPanel img {
	display: inline;
	border: 0;
}

.advanced-ListPopupPanel .list .icon-item img {
	padding: 1px;
	border: 0;
}

/** icon item label style **/
.advanced-ListPopupPanel .list .icon-item div {
	padding: 1px;
}

.advanced-ListPopupPanel {
	border: 1px solid darkgray;
	background-color: white;
	padding: 0;
}

.advanced-ListPopupPanel .list {
	border-collapse: collapse;
	padding: 0;
	cursor: pointer;
}

/** items list selected row style */
.advanced-ListPopupPanel .list .selected-row > div {
	background-color: lightgoldenrodyellow;
}

/** item style **/
.advanced-ListPopupPanel .list .item {
}

/** icon item image style **/
.advanced-ListPopupPanel .list .icon-item img {
	border: 0;
}

/** icon item label style **/
.advanced-ListPopupPanel .list .icon-item div {
	padding: 1px;
}