<HTML>
<HEAD>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
</HEAD>
<BODY>
Report for $result.getTestCase()<br/>
Started at $result.getStartDate() and took $result.getTotalTime() ms.<br/>
<br/>
<table>
#foreach( $commandResult in $result.getCommandResults() )
	<tr>

	#if ( $commandResult.isFailure() )
		<td>$commandResult.getOperation()</td>
		<td>$commandResult.getResult()</td>
		<td>$commandResult.getState()</td>
		<td>$commandResult.getThrowable()</td>
	#else
		<td>$commandResult.getOperation()</td>
		<td>$commandResult.getResult()</td>
		<td>$commandResult.getState()</td>
		<td>
		#if ( $commandResult.getParameters() )
			#foreach( $param in $commandResult.getParameters() )
				#if( $foreach.hasNext ) , #end
				#if ( $param ) $param #end
			#end
		#end
		</td>
	#end
</tr>
#end
</table>