/************* TABLE *************/
/*
 * bg blue = #c3d9ff
 * border blue = #87b3ff
 * bg selected blue = #e8eef7
 */

/*
 * Bean Table
 */

.acris-bean-table {
	margin: 6px;
}
 
.acris-bean-table .gwt-ScrollTable {
	border:2px solid #87B3FF;
}
 
.acris-bean-table .gwt-ScrollTable .headerWrapper {
	/* kill old style */
	background: none;
}
 
.acris-bean-table .gwt-ScrollTable .headerTable td, .acris-bean-table .gwt-ScrollTable .footerTable td {
 	color: black;
 	font-weight: bold;
}

.acris-bean-table .gwt-ScrollTable .headerTable tbody {
	background-color: #c3d9ff;
}

.acris-bean-table .gwt-ScrollTable .dataTable td, .acris-bean-table .gwt-ScrollTable .headerTable td, .acris-bean-table .gwt-ScrollTable .footerTable td {
	/* kill old style */
	border: none;
}
 
.acris-bean-table .gwt-ScrollTable .dataWrapper .dataTable tbody {
 	background-color: #e8eef7;
}

.acris-bean-table .gwt-ScrollTable .dataWrapper .dataTable tbody tr td {
	border: 1px solid white;
}

.acris-bean-table .gwt-ScrollTable .dataWrapper .dataTable tbody tr.selected {
	background-color: white;
}

/************* PAGER *************/
 
.acris-bean-table .gwt-PagingOptions {
	margin-bottom: 6px;
}


/*********** FILTER PANE **********/

.FilterPanelSpec-label {
}

.FilterPanelSpec-valueWidget {
}

.FilterPanelSpec-labelValueWidgetPanel {
}
