.verticalTabBar, .gwt-TabBar {
	font-size: 12px;
	font-weight: bolder;
	font-family: Arial;
}

.verticalTabBar {
	width: 182px;
	background-color: #A4E0F8;
	border: 0;
    margin: 0px;
    padding: 0px;
}

.gwt-TabBar .gwt-TabBarItem, .verticalTabBar .gwt-TabBarItem {
	padding: 5px;
	padding-left: 19px;
/*	background-image: url('../images/greenarrow.gif');
	background-repeat: no-repeat;
	background-position: 1% 50%;*/
}

.verticalTabBar a, .gwt-TabBar a {
	color: #00499E;
	text-decoration: none;
}
.verticalTabBar table {
	border-spacing: 0;
}

.verticalTabBar .gwt-TabBarItem .gwt-Hyperlink,
.gwt-TabBar .gwt-TabBarItem .gwt-Hyperlink {	
	color: #00499E;
	text-decoration: none;
}

.verticalTabBar .gwt-TabBarItem a:hover,
.gwt-TabBar .gwt-TabBarItem a:hover {
	color: #FFFFFF;
		/*background-image: url('../images/overarrow.gif');*/
}

.verticalTabBar .gwt-TabBarItem-selected,
.gwt-TabBar .gwt-TabBarItem-selected {
	background-color: #0180D5;
}

.verticalTabBar .gwt-TabBarItem-selected a,
.gwt-TabBar .gwt-TabBarItem-selected a {
	/*color: #506C5D;*/
	color: #FFFFFF;
	text-decoration: none;
}

.verticalTabBar .gwt-TabBarItem-selected:hover,
.gwt-TabBar .gwt-TabBarItem-selected:hover {
	color: #61bb98;
}

.gwt-TabBarFirst {
	height: 0;
	visibility: hidden;
}

.gwt-TabBarRest {
	height: 0;
	visibility: hidden;
}