.acris-cmp-toggle-button {
	/* tmp. until themed ToggleButton looks like it must. */
	padding: 4px 4px 4px 4px;
}

.acris-icon-button-style {
	vertical-align: middle;
	margin-right: 10px;
}

.acris-cmp-cleaner {
	display: block;
	clear: both;
}

.acris-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/********** Dialog  ************/
.acris-cmp-dialog {
	z-index: 20000;
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper {
	
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper .acris-cmp-content {
	
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper .acris-cmp-options {
	padding: 10px 10px 10px 10px;
}

.acris-cmp-container .acris-cmp-options {
	padding-left: 10px;
	padding-right: 10px;
}

.acris-cmp-dialog .acris-cmp-dialogContentWrapper .acris-cmp-options .acris-cmp-option,.acris-cmp-container .acris-cmp-options .acris-cmp-option
	{
	float: right;
	margin-left: 1px;
}

.acris-cmp-container .acris-cmp-options .acris-cmp-option {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.acris-cmp-options .acris-cmp-option-separator {
	width: 25px;
	height: 1px;
}

/************* OPTION PANE *************/
.acris-cmp-optionPane {
	padding: 10px;
}

.acris-cmp-optionPane .acris-cmp-message {
	float: left;
}

.acris-cmp-optionPane .acris-cmp-input {
	float: left;
	margin-top: 10px;
}

.acris-cmp-optionPane .acris-cmp-icon {
	float: left;
	margin-right: 10px;
}

/************* ERROR OPTION PANE *************/
.acris-cmp-errorPane {
}

.acris-cmp-errorPane .acris-cmp-errorStack {
}

.acris-cmp-errorPane .acris-cmp-errorStack .acris-cmp-error {
}
