@CHARSET "UTF-8";

@def selectionBorderWidth 0px;
.cellTableWidget {
	
}

.cellTableFirstColumn {
	
}

.cellTableLastColumn {
	
}

.cellTableFooter {
}

.cellTableHeader {
	background: #aaaaaa url(gwt/chrome/images/hborder.png) repeat-x 0px -27px;
}

.cellTableCell {
}

.cellTableCell select,
.cellTableCell input {
	border: 1px solid black;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
	
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader {
	
}

.cellTableEvenRow {
	background: #ffffff;
}

.cellTableEvenRowCell {}

.cellTableEvenRowCell,
.cellTableOddRowCell {
	border: 1px solid #AAA;
	padding: 8px 8px;
	color: black;
	height: 18px;
	font-size: 12px;
	text-align: center;
}

.cellTableOddRow {
	background: #f3f7fb;
}

.cellTableOddRowCell {
}

.cellTableHoveredRow {
	background: #F5F5F5;
}

.cellTableHoveredRowCell {
}

.cellTableKeyboardSelectedRow {}

.cellTableKeyboardSelectedRowCell {}

.cellTableSelectedRow {
	background: #628cd5;
	color: white;
}

.cellTableSelectedRowCell {
}

.cellTableKeyboardSelectedCell {
}

@sprite .cellTableLoading {
	gwt-image: 'cellTableLoading';
	margin: 30px;
}

.cellTableSortedHeaderAscending {
}

.cellTableSortedHeaderDescending {
}

.cellTableSortedHeaderAscending > div,
.cellTableSortedHeaderDescending > div,
.cellTableHeader > div {
	padding-left: 0px !important;
	padding-top: 0px !important;
}

.cellTableSortedHeaderAscending > div > div,
.cellTableSortedHeaderDescending > div > div,
.cellTableHeader > div > div {
	position: relative !important;
	margin-top: 0px !important;
	line-height: auto !important;
	float: right;
	width: 100%;
	text-align: right;
}

.cellTableSortedHeaderAscending > div > div > div,
.cellTableSortedHeaderDescending > div > div > div,
.cellTableHeader > div > div > div {
	padding-top: 0px !important;
}

.cellTableSortableHeader {
}

.cellTableSortableHeader > div > div > div,
.cellTableSortableHeader > div,
.cellTableHeader div > div > div,
.cellTableHeader > div {
	font-size: 15px;
	color: black;
	height: 24px;
	font-weight: normal;
	text-align: center;
	padding-top: 6px;
}

.cellTableSortableHeader input,
.cellTableSortableHeader select,
.cellTableHeader input,
.cellTableHeader select {
	width: 100%;
	border: 1px solid black;
	border-left: 0px solid transparent;
	padding: 0px;
	margin: 0px;
	background-color: #F5F5F5;
	height: 40px;
	text-align: center;
}

.cellTableFirstColumnHeader input, 
.cellTableFirstColumnHeader select {
	border-left: 1px solid black !important;
}