html, body {
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6, select, input {
	font-family: Verdana, 'Arial CE', 'Helvetica CE', Arial, helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color: #0E2254;
	color: #FFFFFF;
}

html, body, img, td, th, form {
	margin: 0;
	padding: 0;
}

th, td {
	vertical-align: middle;
}

img {
	border-style: none;
}

a:link, a:visited, a:active {
	color: #FFFCD3;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #9AA367;
	text-decoration: underline;
	font-weight: bold;
}

h1, .notDisplay, #printFooter, #movementsPrintFooter {
	display: none;
}

h2, caption {
	color: #082052;
	background-color: #FFFCD3;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0 0.4em;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
}

h2 div {
	float: left;
  padding-right: 0.5em;
}

h3 {
	font-size: 1.2em;
	padding: 0;
	margin: 0.75em 0;
}

h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

table {
	font-size: 1em;
	border-collapse: collapse;
}

#mainBody {
  height: auto;
  padding: 10px 10px 10px 0px;
}

.left {
	text-align: left !important;
}

.right, .rightScr, .list .right, .ctltable .right {
	text-align: right;
}

.center, .list .center, .ctltable .center {
	text-align: center;
}

.red, .error {
	color: #ff4000 !important;
}

.printRed td {
}

.dark {
	background-color: #0e2254;
}

.light {
	background-color: #2d4165;
}

.euro {
	font-size: 80%;
}

div.euro {
	color: #7b859d;
}

p.euro {
	margin: 0.4em;
	padding: 0;
}

.movementsDark {
	background-color: #0e2254;
}

.movementsLight {
	background-color: #2d4165;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

.nomargin {
  padding: 0;
}

.clear {
  clear: both;
  font-size: 1px;
  height: 0;
  margin: 0;
  padding: 0;
}

.onlyPrint {
  display: none;
}

.onlyPDA {
  display: none;
}

.info {
	margin: 0.85em 0 0.1em 0;
	padding: 0 0.4em;
}

.notes {
	margin: 0.75em 0 -0.5em 0;
	padding: 0.25em 0.4em 0.1em 0.4em;
	border-top: 1px solid #FFFCD3;
}

.errors {
	margin: 0.75em 0 0 0;
	padding: 0.1em 0.4em;
	color: #ff4000;
	font-weight: bold;
}

.info p, .errors p, .notes p {
	margin: 0.25em 0;
}

.info h3, .errors h3, .notes h3 {
	margin: 0.4em 0;
}

.actions {
	margin: 0.75em 0;
	border-top: 1px solid #FFFCD3;
	padding-top: 0.75em;
	text-align: center;
}

.btn, .actions input, .actionsContinue input {
	background-color: #FFFCD3;
	color: #0E2254;
	font-weight: bold;
}

.actionsContinue {
	margin: 0.75em 0 0 0;
	border-top: 1px solid #FFFCD3;
  border-bottom: 1px solid #FFFCD3;
  padding: 0.5em 0;
  text-align: center;
}

.actions input {
	margin: 0.3em;
}

.btn, .actionsContinue input {
	margin: 0 0.3em;
}

div.ctlBar {
	display: none;
}

table.ctltable {
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
  line-height: 1.5em;
}

.ctltable col {
  width: 20em;
}

table.nogroups {
	margin-top: 0.75em;
}

table.nospan {
	margin-top: 0.75em;
	width: auto;
}

table.ctltable th {
	width: 20em;
	padding: 0.1em 0.4em 0.1em 0.4em;
	text-align: left;
	font-weight: normal;
	vertical-align: baseline;
}

table.ctltable thead th {
	width: auto;
	border-bottom: 1px solid #FFFCD3;
	padding: 0.4em 0.2em 0.4em 0.4em;
}

table.multicolumn {
}

table.multicolumn th, .nowidth {
	width: auto !important;
}

table.ctltable td {
	padding: 0.2em 0.2em 0.2em 0.4em;
	vertical-align: bottom;
}

table.ctltable td.header {
	padding: 0;
}

table.list td.header {
	padding: 0;
}

table.list td.header div {
	font-size: 1.1em;
	font-weight: bold;
	background-color: #526584;
	padding: 0.1em 0.4em 0;
	margin: 0.75em 0 0.25em 0;
}

table.ctltable td.header div {
	font-size: 1.1em;
	font-weight: bold;
	background-color: #526584;
	padding: 0.1em 0.4em 0;
	margin: 0.75em 0 0.25em 0;
}

table.ctltable tbody.radioGroup th {
	width: 17.6em;
	padding-left: 2.4em;
}

table.ctltable tbody.radioGroup td.lbl {
	font-weight: bold;
}

.ctltable input, .ctltable select {
  vertical-align: middle;
}

.list {
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0.75em 0 0 0;
}

.asctltable {
	margin: 0 0 0 0;
}

.list th, .newsExpert div, .newsExpertWidth div, .list td {
	text-align: left;
  padding: 0.1em 0.4em;
}

.bpad td {
  padding-bottom: 1em;
}

.list a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.list thead th {
	border-bottom: 1px solid #FFFCD3;
	padding-bottom: 0.3em;
	vertical-align: top;
}

table.list tbody td {
	vertical-align: top;
}

table.asctltable thead th {
	font-weight: normal;
}

.list thead tr.notlast th {
	border-bottom: none;
	padding-bottom: 0.1em;
}

.list tfoot td {
	border-top: 1px solid #FFFCD3;
	padding-top: 0.5em;
	text-align: center;
}

.list tbody th {
  display: none;
}

.nofoot {
	border-bottom: 1px solid #FFFCD3;
}

.newsExpert {
  padding-top: 4em;
  width: 49%;
}

.newsExpertWidth {
  padding-top: 4em;
}

.newsExpert div, .newsExpertWidth div {
  position: relative;
}

.listIMG {
  position: relative;
  float: left;
  vertical-align: top;
  margin: 0.4em 0.5em 0.5em 0;
}

/* --------------------- */

table.inputTable {
	clear: both;
	padding: 0;
	margin: 0;
  line-height: 1.5em;
}

table.inputTable tr td {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

#progressDiv {
	display: none;
}

/* --------------------- */
.vertLine, #left {
  border-right: 1px solid white;
}

#service td {
  padding: 0.2em 1em;
  height: 1.4em;
}

#rservice {
	padding-left: 1.4em !important;
}

#service a {
	text-decoration: none;
	font-weight: bold;
}

#service a:hover {
	text-decoration: underline;
	font-weight: bold;
}

#main {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

#content, #contentLeft, #contentRight {
  vertical-align: top;
}

#content {
  padding: 0 1em;
}

#contentLeft {
  width: 42%;
  padding: 0 10px;
}

#contentRight {
  padding: 0 10px 0 0;
}

.indent {
	padding: 0 0.4em;
}

.indent p {
	margin: 0.75em 0;
}

#header {
  height: 64px;
}

#header td {
  padding: 0 0 1em;
}

#header1 {
  background-color: #FFFCD3;
  font-size: 0.9em;
  padding-left: 1.6em;
}

#header2 {
  font-size: 0.9em;
  background-color: #8B9B71;
  float: left;
  padding-left: 1.6em;
}

#header2 img {
  vertical-align: top;
}

#header3 {
  font-size: 11px;
  background-color: #8B9B71;
  text-align: right;
  padding-right: 19px;
}

#header3 img {
  vertical-align: top;
}

#footer td {
  background-color: #8C9A73;
  padding: 0.2em 1.4em;
  height: 1.4em;
}

#left {
  width: 179px;
  vertical-align: top;
}

.menu {
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style-type: none;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.notices {
  padding: 0 1.3em;
  margin: 0;
  list-style-type: none;
}

.notices li {
  padding: 0 0 0.3em 0.5em;
  list-style-image: url("/ibnew/images/li02.gif");
}

.menu li {
  margin: 0;
  padding: 0 0 0.3em 1.2em;
  color: #9AA2B7;
  background-image: url("/ibnew/images/li02.gif");
  background-repeat: no-repeat;
  list-style-type: none;
}

.menu li a {
  color: #FFFCD3;
}

.menu a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.menu ul a:hover {
  color: #9aa367;
}

.menu .parent {
  padding: 0;
  margin: 0 0 0.5em 0;
  list-style-type: none;
}

#titlePage .parent ul {
  display: block;
}

.menu .parent div {
  margin: 0 0 0.3em 0;
  padding: 0 0 0 1.2em;
  background-image: url("/ibnew/images/li01.gif");
  background-repeat: no-repeat;
  background-color: #566487;
  color: #9AA2B7;
}

.menuOpen {
  display: block;
}

.menuClosed {
  display: none;
}

#titlePage .menu .parent div {
  color: white;
  background-color: #566487;
}

.inactive {
  color: #9AA2B7;
}

/* user styles */
.user-border {
  border: 1px solid #9AA367;
}

.user-table-border, .user-table-border td {
  border: 1px solid #9AA367 !important;
}

.user-margin {
  margin: 1em !important;
}

.user-padding {
  padding: 1em !important;
}

.small {
  font-size: 0.9em;
}

.color-light {
  color: #FFFCD3;
}

.nowrap {
  white-space: nowrap;
}

/* title page design */
.moduleTitle {
  background-color: #FFFCD3;
  color: #0E2254;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  height: 16px;
  line-height: 16px;
  padding: 0;
}

.moduleTitle img {
  vertical-align: middle;
}

.moduleTitle span {
  padding-left: 0.25em;
  vertical-align: top;
  _vertical-align: middle;
}

.moduleCnt {
  margin: 0 0 3em;
}

.moduleCnt p {
  margin: 0;
  padding: 0.2em 0;
  clear: both;
}

.recIMG {
  padding: 0 0.5em 0.5em 0;
}

.news {
  padding-top: 4em;
  text-align: center;
}

.news div {
  margin: 0 auto;
  text-align: left;
  width: 49%;
}

.mbaccounts {
  margin-left: 2em;
  font-size: 0.9em;
  color: gray;
}

.noBorder {
  border: none;
}

img.helpImg {
  vertical-align: middle;
  width: 21px;
  height: 17px;
}

/* e-commerce styles */
#tpMainTable {
  width: 100%;
}
#tpMainTable div {
  padding: 0 25%;
}
#tpMainTable h3 {
  padding: 1em 0 1em 25%;
}
#tpTitle {
  background: url("/ibnew/images/pp_back.gif") 0% 0%;
  margin: 0 auto;
  height: 126px;
}
#tpFoot {
  margin-top: 5em;
}
.tpHeadT, .tpHead {
  width: 100%;
  margin: 0 0 1.5em;
}
.tpHead {
  background-color: #1D2E67;
}
.tpHead2 {
  width: 100%;
  background: #1D2E67 url("/ibnew/images/tpay01.gif") no-repeat 0% 0%;
}
.cpHead2 {
  width: 100%;
  background: #1D2E67 url("/ibnew/images/cpay01.gif") no-repeat 0% 0%;
}
.tpMainHolder {
  text-align: center;
}
.tpMain {
  width: 750px;
  margin: 0 auto;
  text-align: left;
}
.tpMainTbl {
  width: 100%;
}
.tpLoginBox {
  background-color: #1D2E67;
  border: 0.5em solid #1D2E67;
}
.tpLoginBox td {
  padding: 0.5em;
}
.tpHead3 {
}
.tpDesc {
  margin: 1.5em 0 !important;
}

.borderBottom td {
	border-bottom: 1px solid #FFFCD3;
}

.borderTop td {
	border-top: 1px solid #FFFCD3;
}

.movementsPrintHeader { 
  display:none;
}
